* {
  font-family: 'Space Grotesk', sans-serif;
}

.navbar a:hover {
  opacity: 50%;
  transition: all ease-in-out 0.3s;
}
.navbar .btn:hover {
  opacity: 80%;
  transition: all ease-in-out 0.3s;
}

.col a .bi {
  color: white;
  margin: 5px;
  font-size: 1em;
}
footer p {
  font-size: 12px;
}

section h2 {
  margin-bottom: 30px;
}
footer h2 {
  font-size: 1em;
}
.col a:hover {
  opacity: 70%;
  transition: 0.3s all ease-in-out;
}

.card-title {
  text-align: center;
}
/* section {
  margin: 20em 2em;
} */

section p {
  text-align: center;
  font-size: 14px;
}

section .paragraf {
  text-align: justify;
}
.titleSection {
  text-align: center;
  margin-bottom: 30px;
}
.text-container {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap; /* Agar teks tidak wrap ke baris baru */
}

.hidden {
  visibility: hidden; /* Sembunyikan huruf secara default */
}

#kategori .bi {
  font-size: 50px;
}

/* .btn {
  background-color: #825b32;
  color: white;
}

.btn:hover {
  background-color: #633a21;
  color: white;
} */

#Testimonial .card-title,
.card-text {
  color: black;
}
/* Kontak */
.jumbotron {
  background-image: url('../static/Asset/bgfigo.png') !important;
  padding: 10em 0;
  color: white;
  text-align: justify;
  background-position: center;
  background-size: cover;
}
.card-text .card-title {
  color: white !important;
}

.hello {
  font-family: 'Space Grotesk', sans-serif !important;
  font-size: 50px;
}
.text-figo {
  background: url('../static/Asset/bgindex.png');
  padding: 7em 0;
  /* background-position: center; */
}

.card {
  border: 4px solid black; /* Border tebal */
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75); /* Shadow kasar untuk kesan 3D */
  background-color: #f9f9f9; /* Warna latar belakang yang netral */
  color: #333; /* Warna teks */
  border-radius: 0; /* Sudut tajam, tidak ada border radius */
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translate(-5px, -5px); /* Sedikit pergerakan saat hover untuk kesan dinamis */
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-body {
  padding: 1.5em;
}

.btn {
  background-color: #825b32; /* Warna kontras yang cerah */
  border: 1px solid black; /* Border tebal pada tombol */
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.btn:hover {
  background-color: #633a21;
  color: white;
  transition: all ease-in-out 0.3s;
  transform: translateY(-2px); /* Sedikit efek hover untuk tombol */
}
.navbarr {
  background-color: transparent !important;
}
.navbar-transparent {
  background-color: #212529 !important; /* Warna background saat tidak di-scroll */
  transition: background-color 0.5s ease; /* Efek transisi untuk perubahan warna */
}

.text-figo h2 {
  font-size: 50px !important;
  letter-spacing: 5px !important;
}
footer .bi {
  color: white;
  margin: 3px;
}
footer a {
  text-decoration: none;
  font-size: 14px;
  margin: 3px;
  color: white;
}
footer a:hover {
  opacity: 60%;
  transition: all ease-in-out 0.3s;
}
nav span .bi {
  display: block;
  font-style: normal;
  letter-spacing: 1px;
}

#kategori {
  background-image: url('../static/Asset/Section\ Header\ Page\ 1.png');
  /* background-position: center; */
  background-size: cover;
}

.nav-link img {
  border: 3px solid #685e5e;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .col img {
    width: 100%;
    height: 100%;
  }
  .register,
  .login {
    display: none;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content span {
    margin-left: 1.5vh;
  }
  .dropdown-content a {
    text-decoration: none !important;
  }

  .dropdown-content .bi {
    color: white !important;
    display: block;
    margin: 10px 10px;
    margin-top: 2vh;
  }

  .dropdown-content .bi-pencil-square,
  .bi-clock {
    opacity: 50%;
  }

  .dropdown-content .logout .bi {
    color: red !important;
    position: fixed;
  }

  .profile-dropdown .nav-link {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  nav .bi {
    display: none;
  }
  /* .nav-item .btn {
    width: 10em !important;
  } */
  .navbar a {
    text-decoration: none;
    position: relative;
  }

  .navbar a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: #fff;
  }

  .profile-dropdown {
    position: relative;
    display: inline-block;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Link di dalam dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content hr {
    display: none;
  }
  .profile-dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none !important;
    font-style: normal !important;
  }
}

/* Style untuk tombol scroll ke atas */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  display: none; /* Disembunyikan sampai discroll */
  font-size: 40px;
  color: #ffffff; /* Warna biru untuk panah */
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-to-top:hover {
  color: #ffffff; /* Warna lebih gelap saat hover */
}
