<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Figo Cell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
    <!-- BS Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}" type="image/x-icon" />
    <!-- My Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg text-white p-3 shadow navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand fw-bold" href="#" style="letter-spacing: 3px"> <img width="100px" height="50px" src="{{ url_for('static', filename='logo/logoFigo.png') }}" alt="My Image" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body text-light">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/product">Produk</a>
              </li>
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/contact">Kontak</a>
              </li>
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/keranjang">Keranjang <i class="bi bi-cart-check"></i></a>
              </li>

              {% if 'username' in session %}
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/profile/{{username}}">{{username}} <img class="rounded-circle" src="{{ url_for('static', filename='testi/person1.jpg') }}" alt="My Image" width="40em" height="40em" /></a>
              </li>
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active text-danger" aria-current="page" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active text-light btn btn-transparent" aria-current="page" href="/login">Login</a>
              </li>
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link text-light btn" style="background-color: #825b32" href="/register">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <section id="kontak">
      <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="row align-items-center">
          <div class="col">
            <img src="{{ url_for('static', filename='Asset/foto-1.jpg') }}" width="400px" height="500px" alt="Figo Cell" />
          </div>
          <div class="col">
            <h2>Tentang Kami <span>Figo Cell</span></h2>
            <hr class="col-md-8 mb-3 mt-3" />
            <p class="paragraf">
              "Hubungi kami di Figo Cell untuk berbagai kebutuhan produk pulsa, rokok, dan sembako. Tim kami siap membantu Anda dengan layanan pelanggan yang ramah dan responsif. Jika Anda memiliki pertanyaan atau membutuhkan informasi
              lebih lanjut tentang produk, layanan, atau cara berbelanja, jangan ragu untuk menghubungi kami. Kami berkomitmen untuk memberikan pelayanan terbaik demi kepuasan Anda."
            </p>
            <a href="#" class="btn text-light" style="background-color: #825b32">Hubungi</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->
    <!-- Location -->
    <section>
      <div class="map-container text-center" data-aos="fade-up" data-aos-duration="2000">
        <h2>Location</h2>
        <p class="col-md-4" style="margin: 20px auto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, ducimus magni praesentium fuga ut aliquam, maiores autem corrupti nam officia nihil voluptatem sequi minima quod perferendis laboriosam quaerat recusandae
          doloremque?
        </p>
        <div class="ratio ratio-16x9" style="max-width: 600px; margin: 0 auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.763132968531!2d110.3943801106768!3d-7.814879292173211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a57149d66daf7%3A0xd413abafb240097b!2sFigo%20Cell!5e0!3m2!1sid!2sid!4v1732388931425!5m2!1sid!2sid"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="rounded"
          >
          </iframe>
        </div>
      </div>
    </section>
    <br />
    <br />
    <!-- End Location -->
    <footer class="p-4 bg-dark text-light">
      <div class="container">
        <div class="row ms-auto flex-sm-column flex-md-row">
          <div class="col mt-4">
            <a href="https://www.instagram.com/figocahyo_/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/dimasdwi.figocahyo/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.tiktok.com/@figox007"><i class="bi bi-tiktok"></i></a>
            <a href="https://wa.me/6288216733959"><i class="bi bi-whatsapp"></i></a>
            <a href="mailto:cahyodimas188@gmail.com"><i class="bi bi-envelope"></i></a>
          </div>
          <div class="col">
            <h2>Hubungi Kami</h2>
            <a href="" class="text-light" style="text-decoration: none"><i class="bi bi-telephone-fill"></i>+62818281828</a>
            <br /><a href=""><i class="bi bi-chat-left-fill"></i> </a>
          </div>
        </div>
        <hr />
        <p class="text-center">copyright@2024, Intel Celeron Team. All right reserved.</p>
      </div>
    </footer>
    <!-- My AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
