<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Admin</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- BS Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}" type="image/x-icon" />
    <style>
      body {
        min-height: 100vh;
        display: flex;
      }
      .sidebar {
        min-width: 250px;
        max-width: 250px;
        background-color: #343a40;
        color: white;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
      }
      .sidebar a:hover {
        background-color: #495057;
        padding-left: 10px;
        transition: all 0.2s;
      }
      .content {
        flex-grow: 1;
        padding: 20px;
      }
      img {
        object-fit: contain;
      }
    </style>
    <script>
      $(document).ready(function () {
        listing();
      });
      function listing() {
        $.ajax({
          type: 'GET',
          url: '/reviews',
          data: {},
          success: function (response) {
            let rows = response['reviews'];
            for (let i = 0; i < rows.length; i++) {
              let nomor = i + 1;
              let nama = rows[i]['name'];
              let review = rows[i]['review'];
              let created_at = rows[i]['created_at'];
              let review_id = rows[i]['review_id'];
              let temp_html = `
                    <tr>
                        <td>${nomor}</td>
                        <td>${nama}</td>
                        <td>${review}</td>
                        <td>${created_at}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" onClick="hapusData('${review_id}')">
                                <i class="bi bi-trash3"></i> Hapus
                            </button>
                        </td>
                    </tr>
                `;
              $('#tbody').append(temp_html); // Menambahkan baris ke dalam tbody
            }
          },
        });
      }

      function hapusData(review_id) {
        $.ajax({
          type: 'POST',
          url: '/reviews/delete',
          data: { review_id_give: review_id },
          success: function (response) {
            alert(response['msg']);
            window.location.reload();
          },
        });
      }
    </script>
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column p-3">
      <h3 class="text-center">Admin Panel</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/admin_dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link">Kelola Pengguna</a>
        </li>
        <li class="nav-item">
          <a href="/daftar-produk" class="nav-link">Kelola Product</a>
        </li>
        <li class="nav-item">
          <a href="/order" class="nav-link">Kelola Order</a>
        </li>
        <li class="nav-item">
          <a href="/review" class="nav-link">Kelola Review</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas" aria-label="Close">
          <a class="nav-link active" aria-current="page" href="/profile/{{username}}">{{username}}</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-danger">Logout</a>
        </li>
      </ul>
    </div>

    <!-- Content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin Panel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item m-2" data-bs-dismiss="offcanvas" aria-label="Close">
                <a class="nav-link active" aria-current="page" href="/profile/{{username}}"
                  >{{username}} <img class="rounded-circle" src="{{ url_for('static', filename=user_data['profile_image'].replace('static/', '')) }}" alt="My Image" width="40em" height="40em"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1>Kelola Review</h1>

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Review</th>
              <th>Tanggal Buat</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
