<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pembaruan Profile Berhasil</title>

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.css" />

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.min.js"></script>
  </head>
  <body>
    <script>
      // Menampilkan SweetAlert dengan pesan sukses
      Swal.fire({
        title: 'Pembaruan Profile Berhasil!',
        text: 'Profile telah diperbarui dengan sukses!',
        icon: 'success',
        confirmButtonText: 'OK',
      }).then((result) => {
        // Redirect ke halaman lain atau ke keranjang
        window.location.href = '/profile/{{username}}'; // Ganti dengan URL yang sesuai
      });
    </script>
  </body>
</html>
